body {
  text-align: center;
  font-family: 'Bree Serif', serif;
  background: #CFC9C9;
}

h1 {
  color: #7D7474;
  margin-top: 47px;
  font-size: 67px;
  text-align: center;
  padding: 0;
  margin-bottom: 7px;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 400px;
  height: 400px;
  /* background: #A59D9D; */
  background: #fafafa;
  border: 3px solid #fafafa;
  border-radius: 5px;
}

li {
  margin: 0 auto;
  padding: 0;
  width: 400px;
  height: 400px;
  /*background: #A59D9D;*/
  background: #CFC9C9;
  border: 3px solid #fafafa;
  border-radius: 5px;
  list-style-type: none;
  float: left;
  box-sizing: border-box;
}

.instructionbutton {
  margin: 20px;
  background: #7D7474;
  color: #fafafa;
  padding: 10px 20px;
  font-family: 'Bree Serif', serif;
  border: none;
  font-size: 17px;
  height: 34px;
  width: 155px;
  margin-bottom: 2px;
  border-radius: 8px;
  line-height: 10px;
}

.container {
  width: 716px;
  height: 707px;
  position: relative;
  /* border-radius: 5px; */
  margin: 0 auto;
  background: #CFC9C9;
  /* border-radius: 22px; */
  margin-top: -8px;
  overflow: auto;
}

#mutebutton {
  float: left;
  margin: 26px;
}

.instructions {
  border: 1px solid black;
  border-radius: 5px;
  z-index: 998;
  margin: 83px;
  width: 73%;
  height: 33%;
  position: absolute;
  top: 0;
  background: rgba(51, 51, 51, 0.8);
  color: white;
}

.nextLevelPrompt {
  border: 1px solid black;
  z-index: 998;
  margin: 83px;
  width: 73%;
  height: 33%;
  position: absolute;
  top: 0;
}

.gameOverPrompt {
  z-index: 998;
  margin: 83px;
  width: 73%;
  height: 33%;
  position: absolute;
  top: 0;
  background: rgba(80, 70, 70, 0.8);;
  color: #CFC9C9;
  border-radius: 5px;
}

.start {
  margin: 20px;
  background: #84E2DF;
  color: #7D7474;
  padding: 10px 20px;
  font-family: 'Bree Serif', serif;
  border: none;
  font-size: 32px;
  height: 70px;
  width: 157px;
  line-height: 8px;
  border-radius: 8px;
  border: 7px solid #7D7474;
}

.playAgain {
  border-radius: 5px;
  background: #FFFBFB;
  color: #A59D9D;
  border: none;
}

.score {
  font-size: 23px;
  padding: -10px;
  margin: 13px;
}

progress {
  display: block;
  margin: 20px auto;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}

/*progress::-moz-progress-bar {
background: #0063a6;
}*/

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: red;

  /*background-image:
  /*-webkit-linear-gradient(-45deg,
  transparent 33%, rgba(0, 0, 0, .1) 33%,
  rgba(0,0, 0, .1) 66%, transparent 66%),*/
  /*-webkit-linear-gradient(top,
  rgba(255, 255, 255, .25),
  rgba(0, 0, 0, .25)),
  -webkit-linear-gradient(left, red, yellow, green);*/

  border-radius: 5px;
  /*background-size: 35px 20px, 100% 100%, 100% 100%;*/
}

.goodie {
  background: #84E2DF;
}

.baddie {
  background: #D81159;
}
