body {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 400px;
  height: 400px;
  border: 1px solid #000;
}

li {
  list-style-type: none;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
}

.instructionbutton {
  margin: 20px;
  background: #009ee2;
  color: black;
  padding: 10px 20px;
  font-family: 'Bree Serif', serif;
  border: none;
  font-size: 20px;
  }


.start {
  margin: 20px;
  background: #fffa2a;
  color: black;
  padding: 10px 20px;
  font-family: 'Bree Serif', serif;
  border: none;
  font-size: 20px;
}

progress {
  display: block;
  margin: 20px auto;
}

.goodie {
  background: #009ee2;
}

.baddie {
  background: #c90019;
}
