body {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 400px;
  height: 400px;
  border: 1px solid #000;
}

li {
  list-style-type: none;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
}

.instructionbutton {
  margin: 20px;
  background: #009ee2;
  color: black;
  padding: 10px 20px;
  font-family: 'Bree Serif', serif;
  border: none;
  font-size: 20px;
}

.container {
  width: 660px;
  height: 620px;
  position: relative;
  border: 1px solid black;
  margin: 0 auto;

}

.instructions {
  border: 1px solid black;
  z-index: 998;
  margin: 83px;
  width: 73%;
  height: 33%;
  position: absolute;
  top: 0;
}

.nextLevelPrompt {
  border: 1px solid black;
  z-index: 998;
  margin: 83px;
  width: 73%;
  height: 33%;
  position: absolute;
  top: 0;
}

.gameOverPrompt {
  border: 1px solid black;
  z-index: 998;
  margin: 83px;
  width: 73%;
  height: 33%;
  position: absolute;
  top: 0;
}

.start {
  margin: 20px;
  background: #fffa2a;
  color: black;
  padding: 10px 20px;
  font-family: 'Bree Serif', serif;
  border: none;
  font-size: 20px;
}

progress {
  display: block;
  margin: 20px auto;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   /*-webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),*/
	   -webkit-linear-gradient(left, red, yellow, green);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.goodie {
  background: green;
}

.baddie {
  background: red;
}
